body {
  margin: 0;
  padding: 0;
  background-color: steelblue;
}
#app {
  width: 100%;
  min-height: 100vh;
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  pointer-events: none;
}
.cuadro {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  background-color: #fff;
  position: relative;
  pointer-events: all;
}
.hover {
  border: 3px dashed #fff;
  background-color: darkslategray;
}




.imagen  {
  
  background-image: url(https://source.unsplash.com/random/150x150);
  width: 100%;
  height: 100%;
  cursor: grab;
}

.hidden {
 width: 0px;
}